body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    min-height: 100vh;
}

main {
    grid-area: main;
    padding: 20px;
}


.blog-pic {
    width: 200px;
    height: 120px;
    border-radius: 50%;
}

.wrapped-left {
    float: left;
    margin: 0 15px 15px 0;
    width: 200px;
    height: auto;
}

.wrapped-right {
    float: right;
    margin: 0 0 15px 15px;
    width: 200px;
    height: auto;
}

header {
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 32px;
    color: #48BB78;
}

img {
    max-width: 100%;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article {
    margin-bottom: 30px;
}

aside {
    grid-area: sidebar;
    padding: 80px;
}

h4 {
    color: #718096;
}

aside h3:nth-of-type(1) + p {
    background-color: #E2E8F0;
    border-radius: 5px;
    padding: 15px;
}

aside h3:nth-of-type(1) {
    background-color: #E2E8F0;
    color: #000000;
    padding: 15px;
}

aside h3:nth-of-type(2), aside h3:nth-of-type(3) {
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    text-decoration: none;
    padding: 0;
}

aside ul li a {
    color: #4299E1;
    text-decoration: none;
}

footer {
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 10px o;
}